
<div class="container">
    <main class="card">
    <div>
        BÀI VIẾT MỚI
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Public/images/posts/post.jpg" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-3">
                        <a href="#">Tieu de bai viet</a>
                </div>
                <div class="col-md-3">
                    <img src="~/Public/images/posts/post.jpg" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-3">
                        <a href="#">Tieu de bai viet</a>
                </div>
            </div>
        </div>
    </main> <!-- card.// -->
</div>

